{% extends "base.html" %}
{% block title %} Productos Finer {% endblock %}
{% block contenido %}

<div class="alert alert-dismissible alert-light">
   <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
   <strong>¡BIENVENIDO!, nos alegra acompañarte en tu deseo de emprender.</strong> Por favor ingresa la información de cada uno de tus productos, recuerda que el costo variable unitario se refiere a cuanto te ha costado el producto, mientras que el precio variable unitario se refiere a en cuanto vendes el producto; Recuerda quesi aún no has empezado a vender puedes ingresar el precio de la competencia. 
 </div>

<div class = "row">
   <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
   <h5><strong>GESTIÓN DE PRODUCTOS</strong></h5> 
      <div class ="card">
         <div class= "card-body">
            <form action="" method = "POST">
               
               {% csrf_token %} 
               <div class = "form-group mb-3">
                  {{form.nombre}}
               </div>
               <div class = "form-group mb-3">
                  {{form.p_v_u}}
               </div>
               <div class = "form-group mb-3">
                  {% if tipoEmpresa == 'comerciante' %}
                  {{form.c_v_u}}
                  {% endif %}
               </div>

               <div class="form-group mb-3">
                  {{form.participacion_ventas}}
               </div>

               <div class = "form-group">
                  <button type= "submit" class= "btn btn-success btn-block text-white">Agregar producto</button>
               </div>  
            </form> 
         </div>
      </div>
   
   </div>


   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8 ">
      <h3><strong>PRODUCTOS DE LA EMPRESA</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Productos de la empresa</caption>
            <thead>
               <th>Producto</th>
               <th>Precio de venta unitario</th>
               <th>Costo variable unitario</th>
               <th>Participacion en ventas</th>
               <th colspan = "2"></th>
            </thead>
            <tbody>
               <ul>
                  {% for p in productos %}
                  <tr>
                  <td>{{p.nombre}}</td>
                  <td>{{p.p_v_u}}</td>
                  <td>{{p.c_v_u}}</td>
                  <td>{{p.participacion_ventas}}</td>
                  <td><a href = "{% url 'editar_producto' p.id %}" class= "btn btn-info">Editar</a></td>
                  <td><a href = "{% url 'eliminar_producto' p.id %}" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>
</div>

<script src= "static/js/operaciones.js"></script>

</tbody>
</table>
</div>
</div>

</br>
</br>
</br>



<div class="alert alert-dismissible alert-light">
<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
<strong>¡Vas por buen camino!</strong>  Visualiza tus margenes de contribución; Si el valor en porcentaje es mayor al 40%, no debes preocuparte, las cosas pintan bien, si es menor, tal vez debamos pensar en alternativas como promociones al producto.
</div>

</br>
</br>
</br>

<!-- <div style= "center" class = "col-sm-8 col-md-6 col-lg-8 col-xl-8"> -->

<div class = "col-sm-8 col-md-6 col-lg-8 col-xl-8">
<h3><strong>MARGEN DE CONTRIBUCIÓN</strong></h3>
<div class = "table-responsive py-2 ">
<table class = "table table-striped" >
<caption> Productos de la empresa</caption>
<thead>
   <th>Producto</th>
   <th>Margen de contribución en pesos</th>
   <th>Margen de contribución en porcentajes</th>
</thead>
<tbody>
   <ul>
      {% for p in productos %}
      <tr>
      <td>{{p.nombre}}</td>
      <td> <a href= "javascript:margen_pesos({{p.p_v_u}}, {{p.c_v_u}});">Ver margen</td>
      <td> <a href= "javascript:margen_porcentaje({{p.p_v_u}}, {{p.c_v_u}});">Ver margen</td>
      </tr>
      {% endfor%}
   </ul>

   <script >
      function margen_pesos(p_v_u, c_v_u){
         margen_pesos = p_v_u - c_v_u;
         alert('El margen de contribución en pesos $'+margen_pesos );
      }

      function margen_porcentaje(p_v_u, c_v_u){

         margen_pesos = p_v_u - c_v_u;
         margen_porcentaje = (margen_pesos/p_v_u)*100;

         alert('El margen de contribución en porcentaje es del '+margen_porcentaje+"%");

      }
   </script>

</tbody>
</table>
</div>





   

{% endblock %}