{% extends "base.html" %}
{% block title %} Indicadores Finer {% endblock %}
{% block contenido %}

<div class = "row">
   <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
   <h5><strong>CALCULAR COSTOS FIJOS UNITARIOS</strong></h5> 
      <div class ="card">
         <div class= "card-body">

            <form action="" method = "POST">
               {% csrf_token %} 
               <div class = "form-group mb-3">
                  {{form.diasLaboradosAnuales}}
               </div>
               <div class = "form-group mb-3">
                  {{form.jornadaDiara}}
               </div>
               <div class = "form-group mb-3">
                  {{form.empleadosParticipacion}}
               </div>

               <div class = "form-group">
                  <button type= "submit" class= "btn btn-success btn-block text-white">Agregar datos</button>
               </div>  

               <div>
                  <h5>
                     Valor por minuto de trabajo: {{prueba}}
                  </h5>
               </div>
            </form> 

         </div>
      </div>
   </div>

   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <h3><strong>Informacion productiva de la empresa</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Informacion productiva de la empresa</caption>
            <thead>
               <th>dias laborados anualmente</th>
               <th>Jornada diaria</th>
               <th>Jornada real de trabajo diario</th>
               <th colspan = "2"></th>
            </thead>
            <tbody>
               <ul>
                  {% for p in Cfus %}
                  <tr>
                  <td>{{p.diasLaboradosAnuales}}</td>
                  <td>{{p.jornadaDiara}}</td>
                  <td>{{p.empleadosParticipacion}}</td>

                  <td><a href = "" class= "btn btn-info">Editar</a></td>
                  <td><a href = "" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>

   <div class = "row">
      <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
      <h5><strong>UTILIDAD ESPERADA POR EL PRODUCTO</strong></h5> 
         <div class ="card">
            <div class= "card-body">


               <form action="/indicadores/calcularUtilidad" method = "POST">  
                  {% csrf_token %} 
                  <!-- {{formm}} -->

                  <div class = "form-group mb-3">
                    COSTO: $ㅤ {{formm.costo}}
                  </div>

                  <div class = "form-group mb-3">
                    UTILIDAD: % {{formm.utilidad}}
                  </div> 
   
                  <div class = "form-group">
                     <button type= "submit" class= "btn btn-success btn-block text-white">Calcular</button>
                  </div>  

                  <div class = "">
                     <td><a href = "{% url 'indicadores' %}" class= "btn btn-success btn-block text-white">Regresar</a></td>
                  </div>  
                  
                  <div>
                     <h5>
                       Resultado: $ {{resultadoFinal}}
                     </h5>
                  </div>
               </form> 

            </div>
         </div>
      </div>

   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <h3><strong>Indicadores</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Informacion productiva de la empresa</caption>
            <thead>
               <th>dias laborados anualmente</th>
               <th>Jornada diaria</th>
               <th>Jornada real de trabajo diario</th>
               <th colspan = "2"></th>
            </thead>
            <tbody>
               <ul>
                  {% for p in Cfus %}
                  <tr>
                  <td>{{p.diasLaboradosAnuales}}</td>
                  <td>{{p.jornadaDiara}}</td>
                  <td>{{p.empleadosParticipacion}}</td>

                  <td><a href = "" class= "btn btn-info">Editar</a></td>
                  <td><a href = "" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>

   <div>
      ㅤ
   </div>
   <div>
      ㅤ
   </div>

   <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8">
      <h3><strong>Punto de equilibrio</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> aqui tiene que ir todo lo referente al punto de equilibrio </caption>
            <thead>
               <th>dias laborados anualmente</th>
               <th>Jornada diaria</th>
               <th>Jornada real de trabajo diario</th>
               <th colspan = "2"></th>
            </thead>
            <tbody>
               <ul>
                  {% for p in Cfus %}
                  <tr>
                  <td>{{p.diasLaboradosAnuales}}</td>
                  <td>{{p.jornadaDiara}}</td>
                  <td>{{p.empleadosParticipacion}}</td>

                  <td><a href = "" class= "btn btn-info">Editar</a></td>
                  <td><a href = "" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>
   
</div>
{% endblock %}