<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'pagina_principal.css'%}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <title>Finer</title>
</head>
<body>
    <section>
        <h1>Finer</h1>
        <p>la pagina principal esta en desarrollo.</p>
        <li> <a href="{% url 'home' %}">pagina usuario</a> </li>
        <div class="curve"></div>
    </section>

    <section class="blue">
        <h1>Nice Curves</h1>
        <p>Excepturi itaque eligendi voluptate laudantium error enim aut sequi, ullam ad labore aperiam dolorem pariatur necessitatibus quo quasi. Fugiat illum omnis repudiandae debitis sed maxime accusamus perspiciatis quisquam quia numquam.</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>At asperiores quas perferendis qui velit itaque voluptate sint dolor vitae laboriosam earum ullam, molestiae, eveniet, facere aspernatur? Soluta molestias autem illum laboriosam tenetur, est natus enim expedita id quod?</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>Vel provident maxime, laboriosam aperiam consequuntur ut pariatur soluta dolorum aliquid natus tempore, cumque, deserunt sed cupiditate totam. Impedit dicta delectus corporis veritatis eius repellendus molestiae consequuntur obcaecati rem possimus!</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>Assumenda soluta corporis voluptates dolorem voluptatem at totam perspiciatis veniam repellat. Perferendis, numquam porro? Asperiores minus cumque sequi tempore molestiae esse ut dolor, provident consectetur harum soluta sit iusto. Aliquid?</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>Eum nisi eos ducimus eius debitis qui, dignissimos dicta excepturi, maiores aut commodi magni quas aliquam, recusandae earum praesentium consectetur dolorem ab adipisci rem et ipsum itaque placeat? Dolorum, minus.</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>Laboriosam soluta cum voluptate quo odio enim! Ipsum consectetur dignissimos blanditiis quia repellendus dolorum a animi id. Animi ex, cupiditate error accusamus, iusto recusandae ad magnam hic corrupti porro nulla.</p>
    </section>

    <section>
        <h1>Nice Curves</h1>
        <p>Velit facere reiciendis, repellendus tenetur iste quis id nobis nesciunt quasi nisi totam doloremque voluptatum quisquam consequatur dolorum quia minima iure ad maxime at accusantium corporis? Velit voluptate sed commodi.</p>
    </section>
</body>
</html>