<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pagina_principal2.css'%}"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
    <title>Finer</title>
</head>

    <body>
        <section class="header">
          <div class="text-box">
              
              <h1>Todas tus finanzas organizadas en un mismo lugar</h1>
              <p>
                  Finer <br> finanzas mejores
              </p>
              <a href="{% url 'home' %}" class="hero-btn"> ingresa</a>
              <a href="{% url 'registro' %}" class="hero-btn"> Registrate</a>
          </div>
        </section>
    </body>

</html>