{% extends "base.html" %}

{% block title %} Inicio {% endblock %}

{% block contenido %}

<div class = "row">
   <div class = "col-sm-12 col-md-6 col-lg-4 col-xl-4 ">
   <h5><strong>GESTIÓN DE PRODUCTOS PRODUCTOR</strong></h5> 
      <div class ="card">
         <div class= "card-body">
            <form action="" method = "POST">
               
               {% csrf_token %} <!-- seguridad -->
               <div class = "form-group mb-3">
                  {{form.nombre}}
               </div>
               <div class = "form-group mb-3">
                <input type="text" name="unidad_compra" class="form-control" placeholder="unidad de compra" required="" id="id_unidad_compra">

               </div>
               <div class = "form-group mb-3">
                  {{form.precio_compra}}
               </div>

               <div class="form-group mb-3">
                  {{form.tipo_unidad}}
               </div>
               <div class="form-group mb-3">
                  {{form.unidad}}
                </div>
                <div class="form-group mb-3">
                  {{form.factor}}
                </div>
                <div class="form-group mb-3">
                  {{form.costo_variable}}
                </div>

               <div class = "form-group">
                  <button type= "submit" class= "btn btn-success btn-block text-white">Agregar producto</button>
               </div>  
            </form> 
         </div>
      </div>
   
   </div>


    <div class = "col-sm-12 col-md-6 col-lg-8 col-xl-8 "> <!-- lo que se sube al forms -->
      <h3><strong>PRODUCTOS DE LA EMPRESA PRODUCTORA</strong></h3>
      <div class = "table-responsive py-2 ">
         <table class = "table table-striped" >
            <caption> Productos de la empresa</caption>
            <thead>
               <th>Producto</th>
               <th>unidad_compra</th>
               <th>precio_compra</th>
               <th>tipo_unidad</th>
               <th>unidad</th>
               <th>factor</th>
               <th colspan = "2"></th>
            </thead>
            <tbody>
               <ul>
                  {% for p in conceptos %}
                  <tr>
                  <td>{{p.nombre}}</td>
                  <td>{{p.unidad_compra}}</td>
                  <td>{{p.precio_compra}}</td>
                  <td>{{p.tipo_unidad}}</td>
                  <td>{{p.unidad}}</td>
                  <td>{{p.factor}}</td>
                  <td><a href = "{% url 'editar_producto' p.id %}" class= "btn btn-info">Editar</a></td>
                  <td><a href = "{% url 'eliminar_producto' p.id %}" class= "btn btn-danger">Eliminar</a></td>
                  </tr>
                  {% endfor%}
               </ul> 
            </tbody>
         </table>
      </div>
   </div>
   


</div>




{% endblock %}